watch_file pixi.toml pixi.lock
eval "$(pixi shell-hook)"

# ---------------------------------------- STORAGE CONFIG --------------------------------------- #

### AWS ###
export AWS_ENDPOINT_URL=http://localhost:9000
export AWS_ACCESS_KEY_ID=rustfsadmin
export AWS_SECRET_ACCESS_KEY=rustfsadmin

### GCS ###
export STORAGE_EMULATOR_HOST=http://localhost:4443
export GOOGLE_SERVICE_ACCOUNT_KEY='{"gcs_base_url": "http://localhost:4443", "disable_oauth": true, "client_email": "", "private_key_id": "", "private_key": ""}'

### Azure ###
export AZURE_STORAGE_ACCOUNT_NAME=devstoreaccount1
export AZURE_STORAGE_ACCOUNT_KEY="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="
export AZURE_STORAGE_ENDPOINT=http://localhost:10000/devstoreaccount1
export AZURE_STORAGE_USE_EMULATOR=1
