watch_file pixi.toml pixi.lock
eval "$(pixi shell-hook)"

# Storage configuration for tests
export AWS_ENDPOINT_URL=http://localhost:9000
export AWS_ACCESS_KEY_ID=rustfsadmin
export AWS_SECRET_ACCESS_KEY=rustfsadmin
export STORAGE_EMULATOR_HOST=http://localhost:4443
